<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>10.1</string>
    <key>DTSDKName</key>
    <string>iphoneos10.1</string>
    <key>CFBundleName</key>
    <string>TheKinderGarden</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>App需要您的同意,才能访问相册</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon20x20</string>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
        </array>
      </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>家长宝</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>wechat</string>
      <string>weixin</string>
      <string>sinaweibohd</string>
      <string>sinaweibo</string>
      <string>sinaweibosso</string>
      <string>weibosdk</string>
      <string>weibosdk2.5</string>
      <string>mqqapi</string>
      <string>mqq</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>mqqconnect</string>
      <string>mqqopensdkdataline</string>
      <string>mqqopensdkgrouptribeshare</string>
      <string>mqqopensdkfriend</string>
      <string>mqqopensdkapi</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqopensdkapiV3</string>
      <string>mqqopensdkapiV4</string>
      <string>mqzoneopensdk</string>
      <string>wtloginmqq</string>
      <string>wtloginmqq2</string>
      <string>mqqwpa</string>
      <string>mqzone</string>
      <string>mqzonev2</string>
      <string>mqzoneshare</string>
      <string>wtloginqzone</string>
      <string>mqzonewx</string>
      <string>mqzoneopensdkapiV2</string>
      <string>mqzoneopensdkapi19</string>
      <string>mqzoneopensdkapi</string>
      <string>mqqbrowser</string>
      <string>mttbrowser</string>
      <string>alipay</string>
      <string>alipayshare</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>打开定位权限可以更方便获取周围机构信息</string>
    <key>DTSDKBuild</key>
    <string>14B72</string>
    <key>NSCameraUsageDescription</key>
    <string>App需要您的同意,才能使用相机</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1.1</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>16B2555</string>
    <key>DTPlatformBuild</key>
    <string>14B72</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>App需要您的同意,才能使用蓝牙</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>UIAppFonts</key>
    <array>
      <string>iconfont.ttf</string>
    </array>
    <key>CFBundleVersion</key>
    <string>24</string>
    <key>DTXcodeBuild</key>
    <string>8B62</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>MinimumOSVersion</key>
    <string>8.0</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>NSMicrophoneUsageDescription</key>
    <string>App需要您的同意,才能使用麦克风</string>
    <key>CFBundleIdentifier</key>
    <string>com.appjzb</string>
    <key>NSAppleMusicUsageDescription</key>
    <string>App需要您的同意,才能访问媒体库</string>
    <key>DTXcode</key>
    <string>0810</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>qq.com</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>log.umsns.com</key>
        <dict>
          <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSTemporaryExceptionMinimumTLSVersion</key>
          <string>TLSv1.1</string>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>sinaimg.cn</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>sina.cn</key>
        <dict>
          <key>NSExceptionMinimumTLSVersion</key>
          <string>TLSv1.0</string>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
        </dict>
        <key>sns.whalecloud.com</key>
        <dict>
          <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSTemporaryExceptionMinimumTLSVersion</key>
          <string>TLSv1.1</string>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>sina.com.cn</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>weibo.cn</key>
        <dict>
          <key>NSExceptionMinimumTLSVersion</key>
          <string>TLSv1.0</string>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
        </dict>
        <key>sinajs.cn</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>weibo.com</key>
        <dict>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSExceptionMinimumTLSVersion</key>
          <string>TLSv1.0</string>
        </dict>
      </dict>
    </dict>
    <key>CFBundleExecutable</key>
    <string>TheKinderGarden</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>weixin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wx2b6f4659deb0c1a2</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>QQ41E71F9D</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent1105665949</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wb1573569183</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.appjzb</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>appjzb</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>
